{% extends 'base.html.twig' %}

{% block title%}Welcome{%endblock%}
{% block body%}


	{% if articles %}
			<table class="table table-dark">
				<thead>
					<th>Name</th>
					<th>Profession</th>
				</thead>
				<tbody>
				{% for article in articles %}
					<tr>
						<td>{{ article }}</td>
						<td><lable class="btn btn-primary">Delete</lable></td>
					
					</tr>
				{% endfor %}
				</tbody>
			</table>
	{% else %}

	{% endif %}
{% endblock %}